<form method="POST" action="/new" style="display: flex; flex-direction: column; width: min(500px, 80%)">
  <input placeholder="Name" name="user" required />
  <textarea name="message" placeholder="type your message.." rows="4" required></textarea>
  <button>Add Message</button>
</form>
